*{
    margin: 0;
    padding: 0;
}

.HomeMainBanner,
.HomeSection02
{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
}

.HomeMainBanner{
    background: url('../../../Assets/Home/homeMainBanner.jpg');
    background-attachment: fixed !important;
    padding: 30px 10px !important;
    height: 100vh;
}

.HomeSection02{
    background: url('../../../Assets/Home/homeSection02.jpg');
    padding: 50px 10px !important;
    height: 100%;
}

.Introduction h2,
.mainBannerContent h1,
.mainBannerContent h4 {
    text-transform: uppercase;
    font-family: 'PlanetGamers';
}

.Introduction h2{
    font-size: 2.2rem;
}

.mainBannerContent h1{
    margin-top: 30px;
    font-size: 4.5rem;
    margin-bottom: 0;
    line-height: 0.9;
}

.socialMediaIcons a {
    transition: 1s;
    font-size: 2rem;
    margin: auto 10px;
}

.socialMediaIcons a:hover{
    transition: 1s;
    opacity: 0.8;
}

.playIcon {
    width: 100%;
    max-width: 90px;
    margin: 30px auto;
    display: block;
    transition: 1s;
}

.playIcon:hover {
    transition: 1s;
    transform: scale(1.11);
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

.playButton {
    width: 100%;
    max-width: 400px;
    margin: 50px auto 0;
    display: block;
    transition: 1s;
    animation: float 6s ease-in-out infinite;
}

.playButton:hover{
    transition: 1s;
    opacity: 0.7;
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.Introduction{
    background: url('../../../Assets/Home/section02Img01.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px 60px;
}

.section02Img02 {
    width: 100%;
    max-width: 500px;
    margin-top: -70px;
}
.section03{
    background-image: url('../../../Assets/Home/home-section-03.png');
    height:100%;
}
.section04{
    background-image: url('../../../Assets/Home/home-section-04.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
}

.section03 h3,
.section04 h3
{
    font-family:'PlanetGamers'
} 
.shadow-text{
    background:url('../../../Assets/carousal-avatars/shadow-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    padding:10px;

}
.avatar-slider .slick-arrow{
    height:30px !important;
    max-height: 30px !important;
    width:30px !important;
    max-width: 30px !important;
}
.section05{
    background-image: url('../../../Assets/Home/home-section-05.png');
    height: 100%;
}
.second-section-sc{
    position: relative;
}
.section-06{
    background-image: url('../../../Assets/Home/section06-bg.png');
    height: 100%;
}
.our-family{
    font-family:'PlanetGamers'
}
.nft-symbol{
    width: 20px !important;
    margin-left: 10px;
}
.second-section-sc:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: url(../../../Assets/Home/transparent_bg.png) no-repeat center;
    background-size:cover;
    z-index:-1;
    left:-70px;
    top:0;
    bottom:0;
    margin:auto;
    padding: 200px 0 !important;
}
.second-section-sc h2 {
    font-size: 58px;
    text-transform: uppercase;
}
.our-team{
    background-image: url('../../../Assets/Home/section007.png') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-team h2{
    font-family:'PlanetGamers'

}
.our-team h6{
    
}
.our-team p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}