@media screen and (max-width: 991px) {
    .our-team .col-lg-2 {
        margin-bottom: 20px;
    }
    .our-team img {
        max-width: 200px;
        margin-bottom: 10px;
    }
    .slick-slide img {
        display: block;
        max-width: 200px;
        margin: auto;
    }
    .slick-slide{
        text-align: center;
    }
    .homeSection08,
    .homeSection07,
    .HomeMainBanner,
    .HomeSection02,
    .section03,
    .section04,
    .section05,
    .section-06,
    .our-team,
    .road-map {
        background-attachment: scroll !important;
        background-position: center bottom;
    }
    
    h2.backHeading {
        letter-spacing: 0px;
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    body .WhitePaperBody {
        width: 100%;
    }

}