* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #333 !important;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-toggler-icon {
    filter: invert(1);
}

.homeSection08,
.homeSection07,
.HomeMainBanner,
.HomeSection02,
.section03,
.section04,
.section05,
.section-06,
.our-team,
.road-map {
    background-attachment: fixed !important;
}

.homeSection08,
.homeSection07,
.HomeMainBanner,
.HomeSection02 {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative !important;
}

.TokenomicsContent h4,
.tournamentsImgsContent h4,
.our-family,
.our-team h2,
.Introduction h2,
.mainBannerContent h1,
.mainBannerContent h4,
.mainBannerContent h2,
.second-section-sc h2,
.section03 h3,
.section04 h3,
.section05 h3,
.section02 h2,
.aboutArenaVerse h2,
.section04 h5,
.section05 h5,
h4.title {
    text-transform: uppercase;
    font-family: 'PlanetGamers';
}

.section03 h3,
.section04 h3,
.section05 h3,
.our-team h2,
.our-family {
    font-size: 3rem;
}

h2.backHeading {
    letter-spacing: 10px;
    font-size: 3rem;
    line-height: 0;
    display: block;
    margin-top: -10px;
    margin-bottom: 0px;
    z-index: -1;
    opacity: 0.2;
}

.homePage .section04 {
    padding-top: 0 !important;
}

.marketPlacePage .section04 {
    padding-top: 120px !important;
}

.footer-bg {
    background-image: url('../Assets/Home/footer-bg.png');
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.footer-links ul {
    display: inline-flex;
    padding-left: 0;
}

.footer-links ul li {
    margin: auto 40px;
    list-style-type: none;
    font-size: 15px !important;
    font-family: "PlanetGamers";
}

.comingSoon .btn-close {
    position: absolute;
    top: -160px;
    right: 10px;
    z-index: 2;
    filter: invert(1);
}

.comingSoon .modal-content {
    background: url('../Assets/Home/homeSection08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 180px 10px;
}

#chartobject-1 svg,
#chartobject-1 svg g rect {
    background: transparent !important;
    fill: rgb(0,0,0,0.0) !important;
}

#chartobject-1 svg > g:not(.raphael-group-3-parentgroup){
    display:none !important;
}

svg#raphael-paper-2 {
    width: 100%;
    transform: scaleY(1.8);
}

#chartobject-1 text{
    font-size:0.7rem !important;
}