@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
  --font-family-raleway: sans-serif;
}

@font-face {
  font-family: "PlanetGamers";
  src: url("./Assets/@Fonts/PlanetGamers.ttf") format("truetype");
  font-weight: 400;
  font-style: regular;
}

$primary: #350957;
$secondary: #55f1ff;
$danger: #be3154;
$dark: #060f2e;
$warning: #8d3d24;
$light: #fff;
$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "dark": $dark,
  "warning": $warning,
  "light": $light,
  "secondary": $secondary,
);



@import "node_modules/bootstrap/scss/bootstrap";
